@font-face {
    font-family: 'Tron';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/tron.ttf') format('truetype');
}

body {
    margin: 0;
}

.fill {
    position: fixed;
    inset: 0;
}

#camera {
    position: absolute;
    left: 100px;
    top: 20px;
    right: 300px;
    color: white;
    text-shadow: 
        0 0 4px white,
        0 0 11px white,
        0 0 19px white,
        0 0 40px aqua,
        0 0 80px aqua,
        0 0 90px aqua,
        0 0 100px aqua,
        0 0 150px aqua;
    font-family: "Tron", "Courier New", Courier, monospace;
    font-size: 20px;
    z-index: 1000;
}

video {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
